{% extends "layout.html" %}

{% block content %}
    <h1></h1>
        <ul class="nav">
            <li class="nav-item profile">
              <div class="profile-desc">
                <div class="profile-pic">
                  <div class="count-indicator">
                    <img class="img-xs rounded-square " src="/static/images/Copy of Copy of Rays_Slides.png" alt="Project Manager / Founder" width="100%" height="auto">
                    <p></p>
                    <span class="count bg-success"></span>
                  </div> 
                </div>
              </div>
            </li>
          </ul>
{% endblock content %}
