{% extends "layout.html" %}

{% block content %}
    <h1>Token Allocation</h1>

    <ul class="nav">
        <h3>Phase 0 - Pre-sale</h3>
            <p>Whitelisted crowdsale connected to a webpage we are currently building out that will run a background check on investors to prevent manipulation and laundering.
                The initial supply we are going to mint will be 1 Billion tokens
                The administrative wallet will distribute the tokens to a token_wallet which will distribute accordingly</p>

            <p>First and foremost the Presale will act as a legitimizer for VCs to buy into our future product
                The initial presale allowance will only be 5% of total supply. 
                The rest of that supply will be saved for the public sale. 
                Total Circulating Supply = 1 billion</p>    
        
        <h3>Phase 1 - Public ICO</h3>
            <p>Funds obtained in this phase will be used for the following activities:
                70% will be used to create a liquidity pool on Uniswap 
                20% for technical development, any money left will be used to increase the size of the liquidity pool for staking rewards
                10% for</p>        


    {% endblock content %}