
   
{% extends "layout.html" %}

{% block content %}
    <h1>Whitepaper and Tokenomics</h1>

        <ul class="nav">
            <h3>Current Issue</h3>
                <p>About 20% of Bitcoin’s supply is lost and is nearly impossible to retrieve mainly caused by the user's loss of private keys equating to 144 million lost addresses. The reason for this is the structure of cryptocurrencies and the emphasis that cryptocurrencies and tokens place on security and privacy. Individual investors and holders are at risk because they currently have to store privately in tangible proof places which means they are relatively safe but can be misplaced. There needs to be more options and convenience to help onboard crypto users. Users need to trust that their information is safe in order to join the crypto cult. </p>
            <h3>Product Vision and Values</h3>
                <p>We are currently focused on the proof of concept portion of our product. Our core values around our products are convenience, safety, and user friendly entries into crypto. We want to add a backbone layer to the current security and explore the realms of physical and web security. SafeBay is a wallet recovery service focused on monetizing the recovery of sensitive data for individuals without other alternatives. </p>
                <p>We are currently iterating between two approaches: Tangible proof of concept to enable the highest form of security off-chain. Saas Model that is aiming to be fully decentralized through the web with Token model on-chain.</p>
            <h3>What is the purpose of SafeBay's Token?</h3>
                <p>The SafeBay token is currently being structured to tailor a decentralized service for security. It is a utility based token that will incentivize user growth, deflationary mechanism, simple defi protocols and a community that is owned by the users and contributors orchestrated by the SFB token. </p>
                <p>We are aiming to build an ultimate security storage solution for all of your addresses on one device or decentralized web storage. </p>
            <h3>Why Build a Token?</h3>
                <p>It will allow us to build a community in which the users in return will trust the wallet security technology that we are building. The token will promote equal rights to token holders through governance. It will be a store of value, enable defi protocols, and a burning mechanism with each transaction to use our protocol. Our core technology will be open source because we believe in trust through transparency. </p>
            <h3>What action or utility will the token provide?</h3>
                <p>Token holders will have to own our token in order to use our security backup recovery method. Ideally our web app will require X number of tokens to be sent from a user in order for us to permit them to use our service. We burn the tokens used in the transaction to keep it deflationary. Down the line we are going to implement a staking pool and have a staking reward balance to reward holders for staking.</p>
            </ul>
          {% endblock content %}