{% extends "layout.html" %}
{% block content %}   



<!-- ===============================================-->
<!--    Image-->
<!-- ===============================================-->
    
    
    <div class="col-md-8">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-fluid-lrg" src="/static/images/facrecog.png" alt="facrecog" width="100%" height="auto">
            <p></p>
            <span class="count bg-success"></span>
          </div> 
        </div>
      </div>

      {% endblock content %}